
html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
}

.menu-container {
    display: flex;
    height: 100vh; 
    width: 100vw; 
    font-family: 'Arial', sans-serif;
    background-color: #f0f2f5;
}

.sidebar {
    width: 250px; 
    height: 100%; 
    background-color: #ffffff;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    padding: 20px 0;
    display: flex;
    flex-direction: column;
}

.project-title .logo {
    width: 100px; 
    height: auto;
    margin-bottom: 10px;
}

.project-title {
    text-align: center;
    margin-bottom: 30px;
    padding: 0 20px;
}

.project-title h1 {
    font-size: 24px;
    margin: 0;
    font-weight: bold;
    color: #28a745; 
}

.nav-menu {
    flex-grow: 1; 
}

.main-content {
    flex-grow: 1;
    padding: 40px;
    overflow-y: auto; 
    color: #333;
       
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    
    background-color: rgba(255, 255, 255, 0.7); 
    background-blend-mode: overlay; 
}

.welcome-section {
    background: rgba(255, 255, 255, 0.9); 
    padding: 30px;
    border-radius: 8px;
    max-width: 800px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.welcome-section h2 {
    color: #007bff;
}